body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: linear-gradient(45deg, #8baaaa, #ae8b9c);
    color: white;
}
h3{
    text-align: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 5px;
    text-align: center;
        
}
header>nav>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
   
}
header>nav>ul>li{
    list-style: none;
    transition: 100ms;
}
header>nav>ul>li>a{
    text-decoration: none;
    color: white;
}
header>nav>ul>li>a:hover{
    color: rgb(0, 0, 0);
}
header>nav>ul>li:hover{
    color: black;
    padding: 5px;
    background-color: white;
    font-size: 14px;
    transform: scale(1.2);

}
@media screen and (max-width: 950px) {
    #about>div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        
    }
    #about>div>p{
        width: 20vh;
     
    }

    #benefits>div{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 1000px;
     flex-direction: column;
    }
    #venttypes{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .osventimg{
        height: 21vh;
    }
    .osventimg2{
        height: 21vh;
    }


    .typescard{
        flex-direction: column;
    }
  }
#about{
    padding-top: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 3vh;
    padding-bottom: 10vh;

}
#about>div>p{
    width: 50vh;
    background-color: rgba(0, 0, 0, 0.397);
    padding: 10px;
}
#about>div>img{
height: 20vh;
}
#about>div{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    width: 100vh;
    
    border-radius: 20px;
    padding: 10vh;

}

#benefits{
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-bottom: 10vh;
    position: relative;
    background-image: url(https://ceds.ru/local/templates/qwent/assets/img/photo/Montazh-ventilyacii-na-pivo-bezalkogolnom-moskovskom-kombinate-%C2%ABOchakovo%C2%BB-foto-1.jpg);
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}
#benefits>div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
 
}
#benefits>div>p{
    width: 40vh;
    background-color: rgba(0, 0, 0, 0.397);
    padding: 10px;
}
#benefits>div>img{
    
}


#types{
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
 
}
.typescard{

    display: flex;
    align-items: center;
    justify-content: center;
}
.typecardimg{
    height: 200px;
}
.typescard>div{
    padding: 5vh;
}
#types>li{
    margin: 5px;
}

#maintenance{
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#venttypes{
    margin-top: 10vh;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца */
    grid-template-rows: repeat(2, 100px); /* Две строки высотой 100px каждая */
    gap: 10px; 
}
.osvent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
article{
    text-align: center;
    padding: 30px;
}

.osvent>p{
    width: 60vh;
}

.osventimg:hover {
    
}
.osventimg2 {
}

footer{
    margin: 20px;
}